p#pogrubienie_starostecki
{ 
color:CF4F1F; 
font-size:36px; 
} 
p#pochylona_starostecki 
{ 
font-style:italic; 
font-size:41pt;
color:E04A7BB;
}
p#index_gorny_starostecki
{ 
color:ECB81B; 
font-size:0.61cm; 
} 
p#index_dolny_starostecki 
{  
color:34AD683; 
font-size:0.72cm; 
} 
p#mono_starostecki
{ 
color:19F21DB; 
font-size:46px; 
} 
p#powiekszenie_starostecki
{ 
color:828E7D; 
} 
p#pomniejszenie_starostecki
{ 
color:11a8601;
font-size:13px; 
} 
